<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.activity">

    <application
        android:allowTaskReparenting="true">
        <activity android:name=".ResultActivity"
            android:taskAffinity="com.leo.task"
            android:launchMode="singleTask"
            />

        <activity android:name=".ActActivity"
            android:launchMode="singleTask"
            android:label="检测"
            android:taskAffinity="com.leo.task"
            >

        </activity>





        <activity android:name=".SingleInstanceActivity"
            android:launchMode="singleInstance"
            />
    </application>

</manifest>